@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  margin: 0;
  padding: 0;
}
img,fieldset {border:0;}
ul,ol {list-style:none;}
a {color:#000;text-decoration:none;}

.App {
  text-align: center;
}

.navbar {
  flex-wrap: wrap;
  background: #3a006f;
  padding: 20px 0;
  /* border-radius: 0 0 20px 20px; */
}
.navbar .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  margin-right: 50px;
}
.navbar .navbar-nav a {
  display: inline-block;
  color: #dfbbff;
  font-size: 18px;
  padding: 0 20px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .navbar-nav a:hover {
  color: #fff;
}

.main-bg {
  height: 300px;
  /* background-image: url('./img/bg.jpg'); */
  background-position: center top;
  background-size: cover;
}
